/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* common */
    body{
        padding-top: 89px;
    }
    .c-padding {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    /* header start */
    header{
        padding: 10px 0;
    }
    .menu ul li a{
        padding: 10px 0 0 !important;
        font-size: 20px;
        text-align: right;
    }
    /* slider start */
    .slider{
        padding-bottom: 60px;
    }
    .c-ind{
        bottom: -60px;
    }
    .c-ind [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    .s-text{
        margin-top: 0px;
    }
    .s-text h1{
        font-size: 25px;
    }
    .s-text h2{
        margin: 10px 0 ;
        font-size: 18px;
    }
    .s-text p{
        margin-bottom: 20px;
    }
    .s-icon ul li{
        margin-right: 15px !important;
    }
    .s-icon ul li i{
        font-size: 35px;
    }
    /* feature start */
    .c-h1{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .c-p{
        font-size: 17px;
        line-height: 25px;
    }
    .f-item{
        margin-top: 30px;
    }
    .f-icon i{
        margin-top: 0px;
        font-size: 35px;
    }
    .f-text{
        text-align: center;
    }
    .f-text h2{
        margin-bottom: 0px;
        font-size: 20px;
    }
    .f-text p{
        letter-spacing: 0px;
    }
       /* contact */
    .c-form{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .c-input{
        height: 45px;
        padding: 10px 10px;
    }
    .c-submit{
        height: 45px;
    }
    .c-icon li{
        margin-right: 20px !important;
    }
    .c-icon li i{
        font-size: 38px;
    }
    /* footer */
    footer{
        padding-bottom: 70px;
    }
    .f-1{
        text-align: center;
    }
    .f-2{
        text-align: center;
        margin-top: 40px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common */
    .c-padding {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    /* header start */
    .menu ul li a{
        padding: 10px 0 0 !important;
        font-size: 20px;
        text-align: right;
    }
    /* slider start */
    .slider{
        padding-bottom: 60px;
    }
    .c-ind{
        bottom: -55px;
    }
    .c-ind [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    .s-text{
        margin-top: 0px;
    }
    .s-text h1{
        font-size: 25px;
    }
    .s-text h2{
        margin: 10px 0 ;
        font-size: 18px;
    }
    .s-text p{
        margin-bottom: 20px;
    }
    .s-icon ul li{
        margin-right: 20px !important;
    }
    .s-icon ul li i{
        font-size: 35px;
    }
    /* feature start */
    .c-h1{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .c-p{
        font-size: 17px;
        line-height: 25px;
    }
    .f-item{
        margin-top: 30px;
    }
    .f-icon i{
        margin-top: 0px;
        font-size: 35px;
    }
    .f-text{
        text-align: center;
    }
    .f-text h2{
        margin-bottom: 0px;
        font-size: 20px;
    }
    .f-text p{
        letter-spacing: 0px;
    }
   /* contact */
    .c-form{
        margin-top: 35px;
        margin-bottom: 40px;
    }
    .c-input{
        height: 45px;
        padding: 10px 10px;
    }
    .c-submit{
        height: 45px;
    }
    .c-icon li{
        margin-right: 25px !important;
    }
    .c-icon li i{
        font-size: 42px;
    }
    /* footer */
    footer{
        padding-bottom: 70px;
    }
    .f-1{
        text-align: center;
        margin-bottom: 40px;
    }
    .f-2{
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* common */
    .c-padding {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    /* header start */
    .menu ul li a{
        padding: 10px 0 0 !important;
        text-align: right;
    }
    /* feature start */
    .f-item{
        margin-top: 50px;
    }
    /* contact */
    .c-form{
        margin-top: 65px;
        margin-bottom: 70px;
    }
    /* footer start */
    footer{
        padding-bottom: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}